/* Container styling for all screen sizes */
.container {
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

/* Text styling */
.text h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
}

.text p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Link container */
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
    margin-left: 30px;
}

/* Individual link */
.link {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Link text */
.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}


@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
        padding: 40px 5%; 
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .text h2 {
        font-size: 36px;
        letter-spacing: 2px;
    }

    .text p {
        font-size: 20px; 
        letter-spacing: 1px;
    }

    .links {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 18px; 
    }

    .link {
        justify-content: center;
        gap: 18px; 
    }

    .link a {
        font-size: 20px;
        letter-spacing: 1px;
    }
}


@media screen and (max-width: 480px) {
    .container {
        padding: 30px 3%; 
        gap: 15px;
    }

    .text h2 {
        font-size: 28px; 
    }

    .text p {
        font-size: 18px;
    }

    .links {
        gap: 14px; 
    }

    .link a {
        font-size: 18px; 
    }

    .link img {
        width: 24px; 
    }
}
