:root {
    /* colors */

    --color-text : #fff;
    --color-primary:#576cbc;
    --color-secondary: #19376d;
    --color-dark:#0b2447;
    --color-bg: rgb(6, 5, 45);

    /* fonts */

    --font-robot:'Roboto';
    --font-outfit:'Outfit';
   
    
}